body {
	font-family: 'Inter', sans-serif;
	font-size: 12px;
	margin: 0;
	min-height: 100vh;
	display: grid;
	justify-content: center;
	align-items: center;

	--accent: #0090c0;
	--green: #40c080;
	--red: #ff4040;
	--grey: #708090;
	--lgrey: #c5ccd3;
}

svg {
	position: absolute;
	left: 50%;
	top: calc(50% + 40px);
	transform: translate(-50%, -50%);
}

.section-grid {
	display: grid;
	max-width: 1000px;
	max-height: 780px;
	width: 100vw;
	height: 100vh;
	grid-template:
		'header header header header header' 80px
		'source . key . result' 1fr
		/ 5fr 1fr 13fr 1fr 5fr;
}

.header {
	grid-area: header;
	text-align: center;

	h1 {
		margin: 0 0 16px;
		font-size: 48px;
		color: var(--accent);
	}

	p {
		font-size: 16px;
	}
}

.section {
	position: relative;
	padding: 8px 16px;
	border-radius: 8px;
	border: 2px var(--grey) solid;
	margin-top: 12px;
	background: white;
}

.section-title {
	position: absolute;
	left: 50%;
	top: -12px;
	margin: 0;
	font-size: 24px;
	background: white;
	padding: 0 16px;
	transform: translateX(-50%);
}

.image {
	display: block;
	width: 150px;
	height: 200px;
	margin: 32px auto;
	border-radius: 4px;
}

.result {
	border-color: var(--varies);
	transition: border-color 0.5s;

	.section-title {
		color: var(--varies);
		transition: color 0.4s;
	}
}

.unset {
	filter: grayscale(1) opacity(0.5);
}

.pseudo-row {
	display: grid;
	grid-template:
		'. desc' 1fr
		/ 36px 1fr;
	margin: 16px 0;

	p {
		margin: 0;
	}
}

.row {
	display: grid;
	grid-template:
		'icon title . inputs' 24px
		'icon desc . inputs' 1fr
		/ 36px 1fr 16px 192px;
	margin: 16px 0;

	p {
		margin: 0;
	}
}

.icon {
	grid-area: icon;
	display: grid;
	align-items: center;
}

.title {
	grid-area: title;
	font-size: 16px;
	line-height: 24px;
	font-weight: 800;
	color: var(--accent);
}

.desc {
	grid-area: desc;
}

.input-group {
	display: flex;
	gap: 16px;
	grid-area: inputs;
}

.input-field {
	width: 36px;
	height: 36px;
	background: #e0e8f0;
	outline: none;
	padding: 0;
	border: 0;
	text-align: center;
	border-radius: 4px;
	font-size: 24px;
	font-family: 'Inconsolata', monospace;

	&:focus {
		background: #d0dce8;
	}

	&::placeholder {
		color: #00000040;
	}

	&.error {
		border: 2px var(--red) solid;
		margin: -2px;
		background: #ffe0e0;
	}
}
